apiVersion: apps/v1
kind: Deployment
metadata:
  name: flask-demo-app
  labels:
    app: flask-demo-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: flask-demo-app
  template:
    metadata:
      labels:
        app: flask-demo-app
    spec:
      containers:
        - name: flask-demo-app
          # Initial image: will be updated by GitHub Actions with git-sha tag
          image: ""
          #  image: ""

          imagePullPolicy: Always
          ports:
            - containerPort: 5000
          env:
            - name: ENV
              value: "production"
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "500m"
              memory: "256Mi"
          readinessProbe:
            httpGet:
              path: /
              port: 5000
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /
              port: 5000
            initialDelaySeconds: 15
            periodSeconds: 20
      restartPolicy: Always
